"numpy==1.23.2",
"torch==1.12",
"pillow==9.2.0",
"pytorch-lightning==1.7.1",
"torchvision",
"pydantic==1.10.4",
"tensorboard==2.9.1",
"mlflow==1.26",
"hydra-core==1.2.0",
"python-dotenv==0.20",
"tqdm==4.64",
"rich==12.4",
"hydra-submitit-launcher==1.2.0",
"hydra-optuna-sweeper==1.2.0",
"hydra-colorlog==1.2.0",
"dlup==0.3.24",
"kornia==0.6.9",
"h5py==3.8.0",
"escnn==1.0.7",  # For equivariant UNET
"scikit-learn==1.2.2",
"imagecodecs==2023.3.16"