_target_: ahcore.augmentations.AugmentationFactory

# These transforms will be applied in order as a first step.
initial_transforms:
  - _target_: ahcore.transforms.augmentations.MeanStdNormalizer
    mean: ${data_description.normalize_mean}
    std: ${data_description.normalize_std}

intensity_augmentations: null
geometric_augmentations: null
final_transforms: null